<div id="user-dash">
  <div class="top">
    <div class="title2">
      YOUR PORTFOLIO
    </div>
    <div class="info">
      <%= link_to "My profile", "#", :id => "profile-link" %>
      <div class="info-full">
        <div class="desc">Artist Bio: <%= current_user.artist_bio %></div>
        <div class="port-link">
          Portfolio Link: <%= current_user.portfolio_link %>
        </div>
        <div class="edit-profile">
          <%= link_to "Edit profile", edit_user_path(current_user) %>
        </div>
      </div>
    </div>
  </div>
  <div class="x">
    <%= render "users/section", :title => "Your Artwork", :pieces => current_user.pieces %>
  <%= render "users/section", :title => "Favorited", :pieces => current_user.liked_pieces %>
  <%= render "users/section", :title => "Commented", :pieces => current_user.commented_pieces %>
  </div>
</div>

<script>
  $("#profile-link").click(function(){
    $(".info-full").show();
    return false;
  });
      
      
</script>