<%= render "shared/intro" %>
<div id="sign-up">
  <div id='title'>Sign up</div>
  <%= form_tag "/users/sign_up_submit" do %>
    
    <div><%= text_field_tag :username, nil, :placeholder => "Username" %></div>
    
    <div><%= text_field_tag :email, nil, :placeholder => "Email" %></div>
    
    <div><%= password_field_tag :password, nil, :placeholder => "Password" %></div>
    <div><%= submit_tag "Sign up", :id => "sign-up-button" %></div>
    <div style="margin-top:10px;font-size:20px;">Already have an account? <%= link_to "Login", "/users/login" %></div>
    <div style="margin-top:10px;font-size:20px;">Just want to browse? <%= link_to "Enter here", "/home/landing" %></div>
  <% end %>
</div>
