<%= link_to piece_path(piece) do %>
  <div class="piece" piece-id="<%= piece.id %>">
    <div class="img-cont">
      <%= image_tag piece.url %>
    </div>
    <div class="cont">
      <div class="name">
        <%= piece.title %>
      </div>
      <div class="author">
        by <%= piece.user.username %>
      </div>
      <div class="tags">
        <%= piece.tags.map{|t| t.name}.join(",") %>
      </div>
    </div>
    <div class="misc">
      <div class="views">
        <%= image_tag "eye.png" %>
        <div class="num">
          <%= piece.view_count == nil ? 0 : piece.view_count %>
        </div>
      </div>
      <div class="likes">
        <%= image_tag "chat.png" %>
        <div class="num">
          <%= piece.piece_versions.last.comments.length %>
        </div>
      </div>
      
      <div class="heart">
        <% if piece.is_liked_by(current_user) %>
        <%= image_tag "heart.png", :style => "display:none", :class => "empty-heart" %>
        <%= image_tag "full-heart.png", :class => "full-heart" %>
        <% else %>
        <%= image_tag "heart.png", :class => "empty-heart" %>
        <%= image_tag "full-heart.png", :style => "display:none", :class => "full-heart"%>
        <% end %>
        <div class="heart-count">
          <%= piece.piece_likes.length %>
        </div>
      </div>
    </div>
    <div class="popup">
      <div class="desc">
        Author's description of piece: <%= piece.description %>
      </div>
      <div class="feedback">
        Author's desired feedback: <%= piece.desired_feedback %>
      </div>
    </div>
  </div>
<% end %>