
<style>
  #sketch{
    width:957px;
    height:950px;
    border:1px solid black;
    background-size:cover;
  }

  #comment-field{
    width:500px;
    height:100px;
  }

  #comment{
    margin-top:30px;
  }
</style>
<div id="sketch">
  <canvas id="paint"></canvas>
</div>
<div id="comment">
  <%= form_tag "/pieces/annotate_submit" do %>
  <%= hidden_field_tag :piece_version_id, @piece_version.id %>
  <%= hidden_field_tag :piece_id, @piece_version.piece.id %>
    <div>Comments:</div>
    <div><%= text_area_tag :comment, nil, :id => "comment-field" %></div>
    <div><%= submit_tag "Save comment", :style => "margin-bottom:100px;" %></div>
  <% end %>
</div>

<script type="text/javascript">
$('#sketch')[0].style.backgroundImage = 'url(<%= @piece_version.url %>)';
  var canvas = document.querySelector('#paint');
  var ctx = canvas.getContext('2d');
   
  var sketch = document.querySelector('#sketch');
  var sketch_style = getComputedStyle(sketch);
  canvas.width = parseInt(sketch_style.getPropertyValue('width'));
  canvas.height = parseInt(sketch_style.getPropertyValue('height'));

 var mouse = {x: 0, y: 0};
  var last_mouse = {x: 0, y: 0};
   
  /* Mouse Capturing Work */
  canvas.addEventListener('mousemove', function(e) {
      last_mouse.x = mouse.x;
      last_mouse.y = mouse.y;
   
      mouse.x = e.pageX - this.offsetLeft;
      mouse.y = e.pageY - this.offsetTop;
  }, false);
  
  /* Drawing on Paint App */
  ctx.lineWidth = 5;
  ctx.lineJoin = 'round';
  ctx.lineCap = 'round';
  ctx.strokeStyle = 'blue';
   
  canvas.addEventListener('mousedown', function(e) {
      ctx.beginPath();
      ctx.moveTo(mouse.x, mouse.y);
   
      canvas.addEventListener('mousemove', onPaint, false);
  }, false);
   
  canvas.addEventListener('mouseup', function() {
      canvas.removeEventListener('mousemove', onPaint, false);
  }, false);
   
  var onPaint = function() {
    ctx.beginPath();
    ctx.moveTo(last_mouse.x, last_mouse.y);
    ctx.lineTo(mouse.x, mouse.y);
    ctx.closePath();
    ctx.stroke();
};


</script>