<div id="piece-dash">
  <div class="details">
    <div class="left">
      <div id="title"><%= @piece.title %></div>
      <div id="author">By <%= @piece.user.username %></div>   
    </div>
    <div class="middle">
      Author's description of piece: <%= @piece.description %>
    </div>
    <div class="right">
      I'm looking for feedback on: <%= @piece.desired_feedback %>
    </div>
  </div>
  
  <div id="versions">
    <% @piece.piece_versions.each do |pv| %>
      <div class="version <%= pv.version == @piece.piece_versions.length ? 'current' : '' %>">
        <div>Version <%= pv.version %></div>
        <%= link_to (image_tag pv.url), "/pieces/annotate/" + pv.id.to_s  %>
      </div>
    <% end %>
    <% if session[:user].to_i == @piece.user.id %>
      <div class="version new_version">
        <div class="label">
          Upload new version:
        </div>
        <%= form_tag "/pieces/new_piece_version", :multipart => true do %>
          <%= hidden_field_tag :piece_id, @piece.id %>
          <%= file_field_tag :new_piece_version %>
          <div class="label">
            <%= submit_tag "Submit" %>
          </div>
        <% end %>
      </div>
    <% end %> 
  </div>
  <% if @piece.piece_versions.last.comments.length == 0 %>
    <div style="margin-left:200px">No comments yet</div>
    <div  style="margin-left:200px">
      <%= link_to "Add comment and edits", "/pieces/annotate/" + @piece.piece_versions.last.id.to_s %>
    </div>
  <% else %>
    <div id="comments">
      <div class='title'>Feedback for version <%= @piece.piece_versions.last.version %> <%= link_to "Add comment and edits", "/pieces/annotate/" + @piece.piece_versions.last.id.to_s %></div>
      <div class="comments">
        <% @piece.piece_versions.last.comments.each do |c| %>
          <div class="comment">
            <div class="comment-img">
              <%= image_tag c.edit_img(:square) %>
            </div>
            <div class="right">
              <div class="commenter"><%= c.user.username %> said:</div>
              <div><%= c.content %></div>
            </div>
            <div class="popup">
              <div class="im">
                <%= image_tag c.edit_img(:square) %>
              </div>
              <div class="commenter-bio">
                Commenter Artist Bio: <%= c.user.artist_bio %>
              </div>
              <div class="commenter-portfolio">
                <%= link_to "Commenter portfolio", c.user.portfolio_link %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

