<div id="piece-dash">
  <div id="left">
    <div id="left-cont">
      <div class="label">
        <%= @piece.title %>
      </div>
      <div class="ht heart" piece-id="<%= @piece.id %>">
        <% if @piece.is_liked_by(current_user) %>
        <%= image_tag "heart.png", :style => "display:none", :class => "empty-heart" %>
        <%= image_tag "full-heart.png", :class => "full-heart" %>
        <% else %>
        <%= image_tag "heart.png", :class => "empty-heart" %>
        <%= image_tag "full-heart.png", :style => "display:none", :class => "full-heart"%>
        <% end %>
        <div class="heart-count">
          <%= @piece.piece_likes.length %>
        </div>
      </div>
    </div>
    <div id="author">
      By <%= @piece.user.username %>
    </div>
    <div id="description">
      <div class="label">
        Description
      </div>
      <div class="content">
        <%= @piece.description %>
      </div>
    </div>
    <div id="desired-feedback">
      <div class="label">
        Desired Feedback
      </div>
      <div class="content">
        <%= @piece.desired_feedback %>
      </div>
    </div>
  </div>
  <div id="right">

    <div id="versions">
      <% @piece.piece_versions.each do |pv| %>
        <div class="version <%= pv.version == @piece.piece_versions.length ? 'current' : '' %>">
          <div class="version-title">Version <%= pv.version %></div>
          <%= link_to "/pieces/annotate/" + pv.id.to_s do %>
          <div class="x" style="display:inline-block">
            <%= image_tag pv.url %>  
          </div>
          <% end %>
        </div>
      <% end %>
      
      <% if session[:user].to_i == @piece.user.id %>
        <div class="version new_version">
          <div class="label">
            Upload new version:
          </div>
          <div class="tet">
            <%= form_tag "/pieces/new_piece_version", :multipart => true do %>
              <%= hidden_field_tag :piece_id, @piece.id %>
              <div><%= file_field_tag :new_piece_version %></div>
              <div><%= text_area_tag :new_desired_feedback, nil, :placeholder=> "Updated desired feedback", :class => "xz" %></div>
              <div class="label">
                <%= submit_tag "Submit" %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div id="comments">
      <div id="heading">
        Comments:
      </div>
      <% if @piece.piece_versions.last.comments.length == 0 %>
        <div class="no">
          No comments yet.
        </div>
      <% else %>
        <div id="comments-cont">
          <% @piece.piece_versions.last.comments.each do |c| %>  
            <div class="comment">
              <div class="edited-img">
                <%= image_tag c.edit_img(:square) %>
              </div>
              <div class="content">
                <div class="commenter">
                  <%= c.user.username %>
                </div>
                <div class="text">
                  <%= c.content %>
                </div>
              </div>
              <div class="popup">
                <%= image_tag c.edit_img(:square) %>
                <% if c.user.artist_bio != nil %>
                  <div>Artist bio: <%= c.user.artist_bio %></div>
                <% end %>
                <% if c.user.portfolio_link != nil %>
                  <div>Portfolio: <%= link_to c.user.portfolio_link %></div>
                <% end %>
              </div>
            </div>

          <% end %>
        </div>
      <% end %>
      <% if false %>
      <div class="pr">
        Add comment by:
      </div>
      <% end %>
      <%= form_tag do %>
        <div class="opt">
          <%= submit_tag "Annotate and comment with Interart tool", :class => 'sx2' %>
        </div>
        <% if false %>
        
        <% end %>
      <% end %>
    </div>
  </div>
</div>


<script type="text/javascript">
  
$(".sx1").click(function(){

  // return false;
});

$(".sx2").click(function(){
  window.location = "/pieces/annotate/<%= @piece.piece_versions.last.id %>";
  return false;
});
</script>