<!DOCTYPE html>
<html>
<head>
  <title>Interart</title>
  <%= stylesheet_link_tag "application", media: "all"%>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Exo+2:400,200' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,200,100' rel='stylesheet' type='text/css'>
</head>
<body>
<%= render "shared/header" %>

<% if flash[:notice] %>
  <div id="flash"><%= flash[:notice] %></div>
<% end %>

<%= yield %>
<div id="feedback">Bugs or feedback? Let us know at interart247@gmail.com</div>
<script>
$(".categories-button").click(function(e){
  $(".cat-dropdown").show();
  e.stopPropagation();
});

$(".cat-item").click(function(){
  
  $(".categories-button .text").html($(this).html());
  
  updateFeed();

});

function updateFeed(){
  var tagInput = $("#tag-field").val();
  var category = $(".categories-button .text").html();
  if(category === "CATEGORIES"){
    category = "";
  }

  $.get("/pieces/tag", {tag:tagInput, category:category}, function(data){
    $(".feed-cont").html(data);
  });
}

$("#tag-field").keypress(function(e){
  var code = e.which; 
  if (code  == 13) {               
    e.preventDefault();
    return false;
  }
});

$("#tag-field").keyup(function(){
  updateFeed();
});




$(".piece .empty-heart").click(function(){
  $(this).hide();
  $(this).parents(".heart").find(".full-heart").show();
  var count = parseInt($(this).parents(".heart").find(".heart-count").html());

  $(this).parents(".heart").find(".heart-count").html(count + 1);
  var pieceId = $(this).parents(".piece").attr("piece-id");
  $.get("/pieces/heart/" + pieceId, function(){

  });
  return false;
});
    
$("#piece-dash .empty-heart").click(function(){
  $(this).hide();
  $(this).parents(".heart").find(".full-heart").show();
  var count = parseInt($(this).parents(".heart").find(".heart-count").html());

  $(this).parents(".heart").find(".heart-count").html(count + 1);
  var pieceId = $(this).parents(".heart").attr("piece-id");
  $.get("/pieces/heart/" + pieceId, function(){

  });
  return false;
});


$("body").click(function(){
  $(".cat-dropdown").hide();
});


    


</script>
</body>
</html>
