<!DOCTYPE html>
<html>
<head>
  <title>Interart</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "shared/header" %>

<% if flash[:notice] %>
  <div id="flash"><%= flash[:notice] %></div>
<% end %>

<%= yield %>

<script>
$(".categories-button").click(function(e){
  $(".cat-dropdown").show();
  e.stopPropagation();
});

$(".cat-item").click(function(){
  
  $(".categories-button .text").html($(this).html());
  
  updateFeed();

});

function updateFeed(){
  var tagInput = $("#tag-field").val();
  var category = $(".categories-button .text").html();
  if(category === "CATEGORIES"){
    category = "";
  }

  $.get("/pieces/tag", {tag:tagInput, category:category}, function(data){
    $("#home").html(data);
  });
}

$("#tag-field").keyup(function(){
  updateFeed();
  return false;
});


$("body").click(function(){
  $(".cat-dropdown").hide();
});


</script>
</body>
</html>
